@import 'theme/variable' ;

$primary: #ffcc07;
$secondary: #434345;
$dark: #f3941b;
$light:#ffcc07;
@import 'theme/style';
@import 'theme/responsive';
@import 'theme/customize';
@import 'theme/theme-dark';
@import 'theme/theme-rtl';