<!-- Nav Start-->
<header class="app2 loding-header nav-abs custom-scroll">
    <div class="animated-bg"><i></i><i></i><i></i></div>
  <div class="container">
      <div class="row">
          <div class="col">
            <nav style="min-height: 66px;">
              <a href="#" class="d-inline-block m-r-auto">
                  <img src="assets/images/logo/logo-top.png" alt="" class="img-fluid" style="max-width: 100px;">
              </a>
            <app-menu></app-menu>
          </nav>
          </div>
      </div>
  </div>
</header>
<!-- Nav end-->