<!--header start-->
<section class="app2 header overflow-unset" id="home">
    <div class="app2-header bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-md-6">
                    <div class="center-text">
                        <div>
                            <h6 class="header-top-line">Learn to meditate and enjoy your life</h6>
                            <div class="header-text">
                                <h1>The Art of Meditation</h1>
                            </div>
                            <div class="header-sub-text">
                                <p class="text-white">Download now and start your journey!</p>
                            </div>
                            <!-- <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="btn btn-default btn-white">ŞİMDİ İNDİR</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">İncele</a>
                                    </li>
                                </ul>
                            </div> -->
                            <div class="subscribe subscribe-2">
                                <div class="subscribe">
                                    <div class="center-content">
                                        <div>
                                            <a href="https://apps.apple.com/tr/app/a%C5%9Fk%C4%B1m/id1533857070?l=tr" target="_blank">
                                                <img class="storelogo" src="../assets/images/store-badges/app-store.svg" alt="Download TAOM - The Art of Meditation" />
                                            </a>
                                            <a href="https://play.google.com/store/apps/details?id=com.askimapp.android" target="_blank">
                                                <img class="storelogo" src="../assets/images/store-badges/play-store.png" alt="Download TAOM - The Art of Meditation" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="img-mobile set-abs">
                        <img src="../assets/images/ornek/1.png" alt="" class="headaer-image">

                    </div>
                    <!-- <div class="wave-orange"></div> -->
                </div>
            </div>
        </div>
        <div class="wave"></div>
    </div>
</section>
<!--header end-->