<!--header start-->
<section class="app2 header overflow-unset" id="home">
    <div class="app2-header bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-md-6">
                    <div class="center-text">
                        <div>
                            <h6 class="header-top-line">Kişisel Gelişim ve Meditasyon Uygulaması</h6>
                            <div class="header-text">
                                <h1><span class="bold-text">Aşkım</span> Yeni Yol Arkadaşım!</h1>
                            </div>
                            <div class="header-sub-text">
                                <p class="text-white">18 Kasım'da App Store ve Google Play'de</p>
                            </div>
                            <!-- <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="btn btn-default btn-white">ŞİMDİ İNDİR</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">İncele</a>
                                    </li>
                                </ul>
                            </div> -->
                            <div class="subscribe subscribe-2">
                                <div class="subscribe">
                                    <div class="center-content">
                                        <div class="form-group m-0">
                                            <div class="flex">
                                                <i aria-hidden="true" class="fa fa-envelope icon"></i>
                                                <input class="form-control text-capitalize" name="email"
                                                    placeholder="ornek@gmail.com" type="email" [(ngModel)]="mail">
                                                <div class="button-primary">
                                                    <button
                                                        class=" btn btn-default btn-gradient text-white text-capitalize"
                                                        type="submit" (click)="gonder()">
                                                        Haberdar Ol
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="img-mobile set-abs">
                        <img src="../assets/images/ornek/1.png" alt="" class="headaer-image">

                    </div>
                    <!-- <div class="wave-orange"></div> -->
                </div>
            </div>
        </div>
        <div class="wave"></div>
    </div>
</section>
<!--header end-->