<!--function start-->
<section class="app2 format quality p-t-0">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 counters set-order-2">
                <div class="abouts center-text">
                    <div>
                        <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">Tescillenmiş Kalitemiz - Aşkım</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Buraya güzel cümleler, daha önceden beri bu sektörde olan tecrübelerimiz falan falan</p>
                        </div>
                        <ul class="icon-collection">
                            <li class="about-icon">
                                <a href="#" class="center-content">
                                    <h4 class="quality">2 M</h4>
                                    <h6 class="users ">Kullanıcı</h6>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="center-content">
                                    <h4 class="quality">2.5 M</h4>
                                    <h6 class="users">İndirme</h6>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-default btn-gradient m-t-45">Daha</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  counters set-height overflow-hide"  [@fadeInRight]="fadeInRight">
                <img src="assets/images/ornek/3.png" alt="" class="img-fluid mobile2" 
                     data-aos-duration="1500">
            </div>
        </div>
    </div>
</section>
<!--function end-->
